html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


img {
    max-width: 100%;
}

#wrapper {
    max-width: 1600px;
}

#logoCon h1 {
    font-weight: bold;
    font-size: 20px;
}

#topNavigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

#deskMenuCon {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#mobileMenuCon {
    width: 25px;
    display: none;
}

/* ----------------------------- */

#firstBanner {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 55px;
    gap: 20px;
}

#leftFirstBannerCon h1 {
    font-weight: bold;
    font-size: 55px;
}

#leftFirstBannerCon p {
    font-size: 20px;
}

#leftFirstBannerCon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: calc(50% - 1 * 20px /2);
    padding-top:  50px;
}

#rightFirstBannerCon {
    width: calc(50% - 1 * 20px /2);
    background: url(../IMAGES/first-banner-img-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 450px;
}


#leftFirstBannerButtonCon button {
    border-radius: 25px;
    border-style: none;
        background-color: black;
    color: white;
    padding: 10px 25px;
}

#leftFirstInfo span {
    color: aqua;
}

/* HORIZONTAL CARD CONTAINER */
/* -------------------------------------------- */

#horizontalCardSec {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#firstCardCon, #secondCardCon, #thirdCardCon {
    width: calc(33.33% - 2*0px/3);
    justify-content: center;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0px 55px;
    box-sizing: border-box;
}

#firstCardCon h1, #secondCardCon h1, #thirdCardCon h1 {
    font-size: 25px;
    font-weight: bold;
} 

#firstCardCon {
    background-color: black;
    color: white;
}

#secondCardCon {
    background-color: aqua;
    color: white;
}

#thirdCardCon {
    background-color: rgb(45, 197, 203);
    color: white;
}

/* ABOUT COMAPNY CONTAINER */
/* -------------------- */

#aboutCompanyCon {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    padding: 0px 55px;
}

#aboutComapnyLogo {
    width: 50px;
    display: block;
    margin: auto;
}

#aboutCompanyCon h1{
    font-size: 25px;
    font-weight: bold;
}

#aboutCpmapnyConButton button {
    padding: 10px 20px;
    border-style: none;
    border-radius: 12px;
    border: 1px solid black;
}

#aboutCpmapnyConButton {
    margin-top: 20px;
}

/* SECOND BANNER CONTAINER */
/* ------------------------ */

#secondBanner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#secondBannerRightCon, #thirdBannerleftCon {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 55px;
    justify-content: center;
    background-color: rgb(45, 197, 203);
    color: white;
}

#secondBannerleftCon {
    /* background: url(../IMAGES/business-back-1.jpg); */
    background: url(../IMAGES/back-business-img.avif);
    min-height: 400px;
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

#secondBannerleftCon , #secondBannerRightCon, #thirdBannerleftCon, #thirdBannerRightCon  {
    width: calc(50% - 1*0px/2);
    box-sizing: border-box;
}

#secondBannerRightCon h1, #thirdBannerleftCon h1 {
    font-size: 40px;
    font-weight: bold;
}


#secongBannerButtonCon button , #thirdBannerButtonCon button{
    padding: 10px 20px;
    background-color: white;
    color:  rgb(45, 197, 203);
    border-style: none;
    border-radius: 25x;
    border-radius: 25px;
}


/* SERVICE CARD CONTAINER */
/* --------------------------- */

#ourServicesSection {
    text-align: center;
    margin-top: 35px;
    padding: 0px 55px;
}

#companyServiceDetails h1 {
    font-size: 35px;
    font-weight: bold;
}

#companyServiceDetails {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;

}

#companyServiceCardCon {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.serviceCard {
    width: calc(33.33% - 2*20px/3);
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.serviceCard img {
    width: 40px;
    background-color: rgb(45, 197, 203);
    padding: 10px;
    border-radius: 35px;
    display: block;
    margin: auto;
}

.serviceCard h2 {
    font-size: 20px;
    font-weight: bold;
}

.serviceCard h2 span {
    border-bottom: 2px solid rgb(45, 197, 203) ;
}

/* THIRD BANNER */
/* ------------------------- */

#thirdBanner {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
}

#thirdBannerleftCon {
    padding: 0px 55px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    background-color: #d8d7d7;
    color: black;
}

#thirdBannerRightCon {
    /* background: url(../IMAGES/business-back-1.jpg); */
    background: url(../IMAGES/business-back-per-4.jpg);
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#thirdBannerleftCon , #thirdBannerRightCon  {
    width: calc(50% - 1*0px/2);
    box-sizing: border-box;
}

#thirdBannerButtonCon button {
    background-color: rgb(45, 197, 203);
    color: white;
    border-style: none;
}

/* LAST BANNER */
/* -------------------- */

#lastBanner {
    padding: 30px 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgb(45, 197, 203);
}

#lastBannerLeftCon h1 {
    font-weight: bold;
    font-size: 25px;
}

#lastBannerLeftCon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: calc(100% - 300px - 20px);
}

#lastBannerRightCon {
    width: 300px;
    text-align: center;
}

#lastBannerRightCon button {
    padding: 10px 20px;
    color: rgb(45, 197, 203);
    background-color: white;
    border-style: none;
    border-radius: 30px;
}

#lastInfo {
    margin-top: 30px;
    padding: 0px 55px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

#lastInfo h1 {
    font-size:30px;
    font-weight: bold;
}

#lastInfoButton button {
    padding: 10px 20px;
    background-color: black;
    color: white;

}


@media screen and (max-width: 939px) {
    #leftFirstBannerCon h1 {
        font-weight: bold;
        font-size: 45px;
    }

    #leftFirstBannerCon p {
        font-size: 18px;
    }

    #leftFirstBannerCon {
        padding: 20px 0px 0px 0px;
    }

    #secondBannerRightCon , #thirdBannerleftCon, #lastBanner, #lastInfo{
        padding: 20px 50px;
    }
    
}


@media screen and (max-width: 767px) {
    #mobileMenuCon {
        display: block;
    }

    #deskMenuWrapper {
        display: none;
    }

    #firstBanner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #leftFirstBannerCon, #rightFirstBannerCon {
        width: 100%;
    }

    #rightFirstBannerCon {
        min-height: 300px;
    }

    #firstCardCon, #secondCardCon, #thirdCardCon {
        width: 50%;
        justify-content: center;  
    }

    #horizontalCardSec {
        justify-self: center;
    }

    #secondBannerleftCon , #secondBannerRightCon, #thirdBannerleftCon, #thirdBannerRightCon , #lastBannerLeftCon, #lastBannerRightCon  {
        width: 100%;
    }

    #secondBannerRightCon, #thirdBannerleftCon {
        padding: 30px 55px;
    }

    .serviceCard {
        width: calc(50% - 2*20px/2);
    }

    #lastBanner {
        gap: 20px;
    }

}

@media screen and (max-width:500px) {
     #leftFirstBannerCon h1 {
        font-size: 35px;
    }

    #leftFirstBannerCon p {
        font-size: 15px;
    }

    #secondBannerRightCon  h1, #thirdBannerleftCon h1 {
        font-size: 30px;
    }

    #firstBanner, #firstCardCon, #secondCardCon, #thirdCardCon, #aboutCompanyCon , #secondBannerRightCon, #ourServicesSection, #thirdBannerleftCon, #lastBanner, #lastInfo  {
        padding: 20px 40px;
    }

    #firstCardCon, #secondCardCon, #thirdCardCon, .serviceCard {
        width: 100%;
    }

    #secondBannerleftCon, #secondBannerRightCon, #thirdBannerleftCon {
        min-height: 300px;
    }

    .serviceCard {
        padding: 0px;
    }
}

